// Variable overrides
// https://github.com/coreui/coreui/blob/master/scss/_variables.scss

$sidebar-width: 320px !default;

$sidebar-header-height: 100px !default;

$navbar-brand-width: 200px !default;
$navbar-height: 65px !default;

$sidebar-nav-link-hover-color: #fff !default;
$sidebar-nav-link-hover-bg: theme-color("primary") !default;
